@font-face{font-family:"ti";font-style:normal;font-weight:400;src:url("fonts/tabler-icons-subset.woff2?v=6980") format("woff2")}
.ti{font-family:"ti"!important;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:inline-block;vertical-align:-.125em}
.ti-arrow-bar-to-down:before{content:"\ec88"}
.ti-arrows-exchange:before{content:"\f1f4"}
.ti-building-bank:before{content:"\ebe2"}
.ti-car:before{content:"\ebbb"}
.ti-cash:before{content:"\ea55"}
.ti-chart-line:before{content:"\ea5c"}
.ti-chevron-down:before{content:"\ea5f"}
.ti-chevron-left:before{content:"\ea60"}
.ti-chevron-right:before{content:"\ea61"}
.ti-device-floppy:before{content:"\eb62"}
.ti-diamond:before{content:"\eb65"}
.ti-dots:before{content:"\ea95"}
.ti-eye:before{content:"\ea9a"}
.ti-eye-off:before{content:"\ecf0"}
.ti-heartbeat:before{content:"\ef92"}
.ti-help:before{content:"\eabf"}
.ti-home:before{content:"\eac1"}
.ti-layout-dashboard:before{content:"\f02c"}
.ti-list:before{content:"\eb6b"}
.ti-movie:before{content:"\eafa"}
.ti-plane:before{content:"\eb6f"}
.ti-plus:before{content:"\eb0b"}
.ti-point-filled:before{content:"\f698"}
.ti-receipt-tax:before{content:"\edbd"}
.ti-repeat:before{content:"\eb72"}
.ti-school:before{content:"\ecf7"}
.ti-shopping-bag:before{content:"\f5f8"}
.ti-shopping-cart:before{content:"\eb25"}
.ti-sparkles:before{content:"\f6d7"}
.ti-tag:before{content:"\10096"}
.ti-target:before{content:"\eb35"}
.ti-tools-kitchen-2:before{content:"\eeff"}
.ti-trash:before{content:"\eb41"}
.ti-trending-down:before{content:"\eb42"}
.ti-trending-up:before{content:"\eb43"}
